<section class="block">
  <div class="container">
    <h2>Classifieds</h2>
    <ul class="categories-list clearfix">
      {{#each hbsObject.classifieds}}
        <li>
          <a href="{{this.url}}">
            <i class="classified-font-awesome-icon fa {{this.icon}} fa-2x"></i>
            <h3>{{this.title}}</h3>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</section>
