<div class="page sub-page">
  <section class="">
    <div class="hero-wrapper">
      <div class="page-title">
        <div class="container">
          <h1>Submit Event</h1>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </section>
  <section class="content">
    <section class="block">
      <div class="container">
        <form class="form form-submit" id="post-event-form">
            {{>eventForm}}
      </div>
    </section>
  </section>
</div>
