
<div class="col-md-9" id="profileUpdateForm" style="display: none">
  <div class="section-title clearfix">
    {{> update_user}}
  </div>
</div>
<div class="col-md-9" id="profileEventForm" style="display: none">
  <div class="section-title clearfix">
    {{> post_event_partial}}
  </div>
</div>
<div class="col-md-9" id="profileClassForm" style="display: none">
  <div class="section-title clearfix">
    {{> post_class_partial}}
  </div>
</div>
<div class="col-md-9" id="profileResForm" style="display: none">
  <div class="section-title clearfix">
    {{> post_res_partial}}
  </div>
</div>
<div class="col-md-9" id="profileContactForm" style="display: none">
  <div class="section-title clearfix">
    {{> contact_partial}}
  </div>
</div>
 <div class="col-md-9">
  <div class="section-title clearfix"><div class="float-right d-xs-none thumbnail-toggle">
      <a href="#" class="change-class" data-change-from-class="list" data-change-to-class="grid" data-parent-class="items">
        <i class="fa fa-th"></i>
      </a>
      <a href="#" class="change-class active" data-change-from-class="grid" data-change-to-class="list" data-parent-class="items">
        <i class="fa fa-th-list"></i>
      </a>
    </div>
  </div>
  <div class="items list compact grid-xl-3-items grid-lg-3-items grid-md-2-items">
    <div class="item">
      <div class="ribbon-vertical">
        <i class="fa fa-star"></i>
      </div>
      <div class="wrapper">
        <div class="image">
          <h3>
            <a href="#" class="tag category">Home &amp; Decor</a>
            <a href="single-listing-1.html" class="title">Furniture for sale</a>
            <span class="tag">Offer</span>
          </h3>
          <a href="single-listing-1.html" class="image-wrapper background-image" style="background-image: url(&quot;assets/img/image-01.jpg&quot;);">
            <img src="assets/img/image-01.jpg" alt="">
          </a>
        </div>
        <h4 class="location">
          <a href="#">Manhattan, NY</a>
        </h4>
        <div class="price">$80</div>
        <div class="meta">
        <figure>
          <i class="fa fa-calendar-o"></i>02.05.2017
        </figure>
        <figure>
          <a href="#">
            <i class="fa fa-user"></i>Jane Doe
          </a>
        </figure>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis lobortis</p>
        </div>
        <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
      </div>
    </div>
  </div>
</div>
