<div class="col-md-3">
  <nav class="nav flex-column side-nav">
    <a class="nav-link icon" href="#">
      <i class="fa fa-user"></i>My Profile
    </a>
    <a class="nav-link icon" href="#">
      <i class="fa fa-heart"></i>My Ads Listing
    </a>
    <a class="nav-link icon" href="#">
      <i class="fa fa-star"></i>Bookmarks
    </a>
    <a class="nav-link icon" href="#">
      <i class="fa fa-recycle"></i>Change Password
    </a>
    <a class="nav-link icon" href="#your-hoa">
      <i class="fa fa-check"></i>Post Something
    </a>
  </nav>
</div>
