<section class="block">
<div class="container">
  <h2>Upcoming Events</h2>
  <div class="upcoming-events items grid grid-xl-3-items grid-lg-3-items grid-md-2-items">
    <!-- item -->
    <div class="item">
      <div class="wrapper">
        <div class="image">
          <h3>
            <a href="#" class="tag category">Home & Decor</a>
            <a href="single-listing-1.html" class="title">Furniture for sale</a>
            <span class="tag">Offer</span>
          </h3>
          <a href="single-listing-1.html" class="image-wrapper background-image">
            <img src="assets/img/image-01.jpg" alt="">
          </a>
        </div>
        <!--end image-->
        <h4 class="location">
          <a href="#">Manhattan, NY</a>
        </h4>
        <div class="price">$80</div>
        <div class="meta">
          <figure>
            <i class="fa fa-calendar-o"></i>02.05.2017
          </figure>
          <figure>
            <a href="#">
              <i class="fa fa-user"></i>Jane Doe
            </a>
          </figure>
        </div>
        <!--end meta-->
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis lobortis</p>
        </div>
        <!--end description-->
        <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
      </div>
    </div>

    <!-- item -->
    <div class="item">
      <div class="wrapper">
        <div class="image">
          <h3>
            <a href="#" class="tag category">Home & Decor</a>
            <a href="single-listing-1.html" class="title">Furniture for sale</a>
            <span class="tag">Offer</span>
          </h3>
          <a href="single-listing-1.html" class="image-wrapper background-image">
            <img src="assets/img/image-01.jpg" alt="">
          </a>
        </div>
        <!--end image-->
        <h4 class="location">
          <a href="#">Manhattan, NY</a>
        </h4>
        <div class="price">$80</div>
        <div class="meta">
          <figure>
            <i class="fa fa-calendar-o"></i>02.05.2017
          </figure>
          <figure>
            <a href="#">
              <i class="fa fa-user"></i>Jane Doe
            </a>
          </figure>
        </div>
        <!--end meta-->
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis lobortis</p>
        </div>
        <!--end description-->
        <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
      </div>
    </div>

    <!-- item -->
    <div class="item">
      <div class="wrapper">
        <div class="image">
          <h3>
            <a href="#" class="tag category">Home & Decor</a>
            <a href="single-listing-1.html" class="title">Furniture for sale</a>
            <span class="tag">Offer</span>
          </h3>
          <a href="single-listing-1.html" class="image-wrapper background-image">
            <img src="assets/img/image-01.jpg" alt="">
          </a>
        </div>
        <!--end image-->
        <h4 class="location">
          <a href="#">Manhattan, NY</a>
        </h4>
        <div class="price">$80</div>
        <div class="meta">
          <figure>
            <i class="fa fa-calendar-o"></i>02.05.2017
          </figure>
          <figure>
            <a href="#">
              <i class="fa fa-user"></i>Jane Doe
            </a>
          </figure>
        </div>
        <!--end meta-->
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis lobortis</p>
        </div>
        <!--end description-->
        <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
      </div>
    </div>

    <!-- item -->
    <div class="item">
      <div class="wrapper">
        <div class="image">
          <h3>
            <a href="#" class="tag category">Home & Decor</a>
            <a href="single-listing-1.html" class="title">Furniture for sale</a>
            <span class="tag">Offer</span>
          </h3>
          <a href="single-listing-1.html" class="image-wrapper background-image">
            <img src="assets/img/image-01.jpg" alt="">
          </a>
        </div>
        <!--end image-->
        <h4 class="location">
          <a href="#">Manhattan, NY</a>
        </h4>
        <div class="price">$80</div>
        <div class="meta">
          <figure>
            <i class="fa fa-calendar-o"></i>02.05.2017
          </figure>
          <figure>
            <a href="#">
              <i class="fa fa-user"></i>Jane Doe
            </a>
          </figure>
        </div>
        <!--end meta-->
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis lobortis</p>
        </div>
        <!--end description-->
        <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
      </div>
    </div>

    <!-- item -->
    <div class="item">
      <div class="wrapper">
        <div class="image">
          <h3>
            <a href="#" class="tag category">Home & Decor</a>
            <a href="single-listing-1.html" class="title">Furniture for sale</a>
            <span class="tag">Offer</span>
          </h3>
          <a href="single-listing-1.html" class="image-wrapper background-image">
            <img src="assets/img/image-01.jpg" alt="">
          </a>
        </div>
        <!--end image-->
        <h4 class="location">
          <a href="#">Manhattan, NY</a>
        </h4>
        <div class="price">$80</div>
        <div class="meta">
          <figure>
            <i class="fa fa-calendar-o"></i>02.05.2017
          </figure>
          <figure>
            <a href="#">
              <i class="fa fa-user"></i>Jane Doe
            </a>
          </figure>
        </div>
        <!--end meta-->
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis lobortis</p>
        </div>
        <!--end description-->
        <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
      </div>
    </div>

    <!-- item -->
    <div class="item">
      <div class="wrapper">
        <div class="image">
          <h3>
            <a href="#" class="tag category">Home & Decor</a>
            <a href="single-listing-1.html" class="title">Furniture for sale</a>
            <span class="tag">Offer</span>
          </h3>
          <a href="single-listing-1.html" class="image-wrapper background-image">
            <img src="assets/img/image-01.jpg" alt="">
          </a>
        </div>
        <!--end image-->
        <h4 class="location">
          <a href="#">Manhattan, NY</a>
        </h4>
        <div class="price">$80</div>
        <div class="meta">
          <figure>
            <i class="fa fa-calendar-o"></i>02.05.2017
          </figure>
          <figure>
            <a href="#">
              <i class="fa fa-user"></i>Jane Doe
            </a>
          </figure>
        </div>
        <!--end meta-->
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis lobortis</p>
        </div>
        <!--end description-->
        <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
      </div>
    </div>


  </div>
</div>
<div class="background" data-background-color="#fff"></div>
<!--end background-->
</section>
