<div class="page sub-page">
  <section class="hero">
    <div class="hero-wrapper">
      <div class="page-title">
        <div class="container">
          <h1>View Dues</h1>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </section>
  <section class="content">
    <section class="block">
      <div class="container">
        <form class="form" id="duesView">
          <section>
            <h2>Your Current Dues: ${{ hbsObject.user.dues }} </h2>
          </section>
        </form>
      </div>
    </section>
  </section>
</div>