  <div class="page home-page">
    <!--*********************************************************************************************************-->
    <!--************ HERO ***************************************************************************************-->
    <!--*********************************************************************************************************-->
    <header class="hero">
      <div class="hero-wrapper">
        <!--============ Secondary Navigation ===============================================================-->
          <div class="secondary-navigation">
            <div class="container">
              <ul class="left">
                <li>
                <span>
                  <i class="fa fa-phone"></i> +1 123 456 789
                </span>
                </li>
              </ul>
              <!--end left-->
              <ul class="right">
                <li>
                  <a href="my-ads.html">
                    <i class="fa fa-heart"></i>My Ads
                  </a>
                </li>
                <li>
                  <a href="/signin">
                    <i class="fa fa-sign-in"></i>Sign In
                  </a>
                </li>
                <li>
                  <a href="/signup">
                    <i class="fa fa-pencil-square-o"></i>Register
                  </a>
                </li>
              </ul>
            <!--end right-->
            </div>
          <!--end container-->
          </div>
          <!--============ End Secondary Navigation ===========================================================-->
          <!--============ Main Navigation ====================================================================-->
          <div class="main-navigation">
            <div class="container">
              <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                <a class="navbar-brand" href="index.html">
                  <img src="assets/img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                  <!--Main navigation list-->
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/">Account</a>
                    </li>
                    <li class="nav-item active has-child">
                      <a class="nav-link" href="/community">Community</a>
                      <!-- 1st level -->
                      <ul class="child">
                          <li class="nav-item">
                            <a href="/events" class="nav-link">Events</a>
                          </li>
                          <li class="nav-item">
                            <a href="/classes" class="nav-link">Classes</a>
                          </li>
                          <li class="nav-item">
                            <a href="/meetups" class="nav-link">Meetups</a>
                          </li>
                        </ul>
                        <!-- end 1st level -->
                    </li>
                    <li class="nav-item active has-child">
                      <a class="nav-link" href="/classified">Classifieds</a>
                      <!-- 1st level -->
                      <ul class="child">
                        <li class="nav-item">
                          <a href="/autosetc" class="nav-link">Autos, Boats, and More</a>
                        </li>
                        <li class="nav-item">
                          <a href="/homegoods" class="nav-link">Homegoods</a>
                        </li>
                        <li class="nav-item">
                          <a href="/outdoor" class="nav-link">Outdoor</a>
                        </li>
                        <li class="nav-item">
                          <a href="/other" class="nav-link">Other</a>
                        </li>
                      </ul>
                        <!-- end 1st level -->
                    </li>
                    <li class="nav-item active has-child">
                      <a class="nav-link" href="/resources">Resource Share</a>
                      <!-- 1st level -->
                      <ul class="child">
                        <li class="nav-item">
                          <a href="/autosetc" class="nav-link">Skills Offered</a>
                        </li>
                        <li class="nav-item">
                          <a href="/homegoods" class="nav-link">Items Offered</a>
                        </li>
                        <li class="nav-item">
                          <a href="/outdoor" class="nav-link">Skills Needed</a>
                        </li>
                        <li class="nav-item">
                          <a href="/other" class="nav-link">Items Needed</a>
                        </li>
                      </ul>
                        <!-- end 1st level -->
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
                  </ul>
                <!--Main navigation list-->
                </div>
              <!--end navbar-collapse-->
              </nav>
            <!--end navbar-->
            </div>
          <!--end container-->
          </div>
          <div class="background">
            <div class="background-image">
              <img src="assets/img/hero-background-image-02.jpg" alt="">
            </div>
          <!--end background-image-->
          </div>
        <!--============ End Page Title =====================================================================-->
        </div>
      <!--end hero-wrapper-->
      </header>
      <!--end hero-->
      <!--*********************************************************************************************************-->
      <!--************ CONTENT ************************************************************************************-->
      <!--*********************************************************************************************************-->
      <section class="content">
        <!--============ Featured Ads ===========================================================================-->
        <section class="block">
          <div class="container">
            <h2>Your HOA</h2>
            <div class="items grid grid-xl-4-items grid-lg-4-items grid-md-2-items">
              <!--start item-->
              <div class="item">
                <div class="wrapper">
                  <div class="image">
                    <h3>
                      <a href="/community" class="tag category">Community</a>
                      <a href="/postcommunity" class="title">Post to Community</a>
                    </h3>
                    <a href="/community" class="image-wrapper background-image">
                      <img src="assets/img/image-01.jpg" alt="">
                    </a>
                  </div>
                <!--end image-->
                  <div class="meta">
                  </div>
                <!--end meta-->
                  <div class="description">
                    <p>Want to organize an event, class, or meetup?  Post it here!</p>
                  </div>
                <!--end description-->
                </div>
              </div>
              <!--end item-->
              <!--start item-->
              <div class="item">
                <div class="wrapper">
                  <div class="image">
                    <h3>
                      <a href="/classifieds" class="tag category">Classifieds</a>
                      <a href="/postclassified" class="title">Post to Classifieds</a>
                    </h3>
                      <a href="/classifieds" class="image-wrapper background-image">
                        <img src="assets/img/image-01.jpg" alt="">
                      </a>
                  </div>
                              <!--end image-->
                  <div class="meta">
                  </div>
                  <!--end meta-->
                  <div class="description">
                    <p>Have an item or service to sell?  Post it here!</p>
                  </div>
                  <!--end description-->
                </div>
              </div>
              <!--end item-->
              <!--start item-->
              <div class="item">
                <div class="wrapper">
                  <div class="image">
                    <h3>
                      <a href="/resources" class="tag category">Resource Share</a>
                      <a href="/postresource" class="title">Post to Resource Share</a>
                    </h3>
                    <a href="resources" class="image-wrapper background-image">
                      <img src="assets/img/image-01.jpg" alt="">
                    </a>
                  </div>
                  <!--end image-->
                  <div class="meta">
                  </div>
                  <!--end meta-->
                  <div class="description">
                    <p>Have a skill or item that you want to offer, request, or barter for?  Post it here!</p>
                  </div>
                  <!--end description-->
                </div>
              </div>
              <!--end item-->
              <!--start item-->
                <div class="item">
                  <div class="wrapper">
                    <div class="image">
                      <h3>
                        <a href="/contact" class="tag category">Contact</a>
                        <a href="/contact" class="title">Contact HOA</a>
                      </h3>
                      <a href="/contact" class="image-wrapper background-image">
                          <img src="assets/img/image-01.jpg" alt="">
                      </a>
                    </div>
                    <!--end image-->
                    <div class="meta">
                    </div>
                    <!--end meta-->
                    <div class="description">
                      <p>View our HOA FAQ, and get in touch with us!</p>
                    </div>
                    <!--end description-->
                  </div>
                </div>
                <!--end item-->
              </div>
            </div>
            <div class="background" data-background-color="#fff"></div>
            <!--end background-->
          </section>
          <!--============ End Categorys for Acct =======================================================================-->
          <!--============ Features Steps =========================================================================-->
          <section class="block has-dark-background">
            <div class="container">
              <div class="block">
                <h2>Interacting With Our Neighborhood is as Simple as a Click!</h2>
                <div class="row">
                  <div class="col-md-3">
                    <div class="feature-box">
                      <figure>
                        <img src="assets/icons/feature-user.png" alt="">
                        <span>1</span>
                      </figure>
                      <h3>Create an Account</h3>
                      <p>Etiam molestie viverra dui vitae mattis. Ut velit est</p>
                    </div>
                    <!--end feature-box-->
                  </div>
                  <!--end col-->
                  <div class="col-md-3">
                    <div class="feature-box">
                      <figure>
                        <img src="assets/icons/feature-upload.png" alt="">
                        <span>2</span>
                      </figure>
                      <h3>Submit</h3>
                      <p>Use the Post buttons available in your account dashboard to submit Events, Classes, Meetups, Classifieds, or Resources you have to share!</p>
                    </div>
                    <!--end feature-box-->
                  </div>
                  <!--end col-->
                  <div class="col-md-3">
                    <div class="feature-box">
                      <figure>
                        <img src="assets/icons/feature-like.png" alt="">
                        <span>3</span>
                      </figure>
                      <h3>Browse</h3>
                      <p>Find things happening or available in your neighborhood relevant to you!</p>
                    </div>
                    <!--end feature-box-->
                  </div>
                  <!--end col-->
                  <div class="col-md-3">
                    <div class="feature-box">
                      <figure>
                        <img src="assets/icons/feature-wallet.png" alt="">
                        <span>4</span>
                      </figure>
                      <h3>Enjoy our Community!</h3>
                      <p>There are so many ways to enjoy our wonderful neighborhood!</p>
                    </div>
                    <!--end feature-box-->
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </div>
              <!--end block-->
            </div>
            <!--end container-->
            <div class="background" data-background-color="#2b2b2b"></div>
              <!--end background-->
          </section>
          <!--end block-->
          <!--============ End Features Steps =====================================================================-->
          <!--============ Recent Ads =============================================================================-->
          <section class="block">
            <div class="container">
              <h2>Recent Posts</h2>
                <div class="items grid grid-xl-4-items grid-lg-3-items grid-md-2-items">
                  <div class="item">
                    <div class="wrapper">
                      <div class="image">
                        <h3>
                          <a href="#" class="tag category">Real Estate</a>
                          <a href="single-listing-1.html" class="title">Luxury Apartment</a>
                          <span class="tag">Offer</span>
                        </h3>
                        <a href="single-listing-1.html" class="image-wrapper background-image">
                          <img src="assets/img/image-04.jpg" alt="">
                        </a>
                      </div>
                      <!--end image-->
                      <h4 class="location">
                        <a href="#">Greeley, CO</a>
                      </h4>
                      <div class="price">$75,000</div>
                      <div class="meta">
                        <figure>
                          <i class="fa fa-calendar-o"></i>13.03.2017
                        </figure>
                        <figure>
                          <a href="#">
                            <i class="fa fa-user"></i>Hills Estate
                          </a>
                        </figure>
                      </div>
                      <!--end meta-->
                      <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis lobortis</p>
                      </div>
                      <!--end description-->
                      <div class="additional-info">
                        <ul>
                          <li>
                            <figure>Area</figure>
                            <aside>368m<sup>2</sup></aside>
                          </li>
                          <li>
                            <figure>Bathrooms</figure>
                            <aside>2</aside>
                          </li>
                          <li>
                            <figure>Bedrooms</figure>
                            <aside>3</aside>
                          </li>
                          <li>
                            <figure>Garage</figure>
                            <aside>1</aside>
                          </li>
                        </ul>
                      </div>
                      <!--end addition-info-->
                      <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
                    </div>
                  </div>
                   <!--end item-->
                </div>
              </div>
              <!--end container-->
            </section>
          <!--end block-->
          <!--============ End Recent Ads =========================================================================-->
          <!--============ Newsletter =============================================================================-->
          

          <section class="block">
            <div class="container">
              <div class="d-flex align-items-center justify-content-around">
              </div>
            </div>
          </section>

      </section>
      <!--end content-->

      <!--*********************************************************************************************************-->
      <!--************ FOOTER *************************************************************************************-->
      <!--*********************************************************************************************************-->
      <footer class="footer">
          <div class="wrapper">
              <div class="container">
                  <div class="row">
                      <div class="col-md-5">
                          <a href="#" class="brand">
                              <img src="assets/img/logo.png" alt="">
                          </a>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet
                              fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
                          </p>
                      </div>
                      <!--end col-md-5-->
                      <div class="col-md-3">
                          <h2>Navigation</h2>
                          <div class="row">
                              <div class="col-md-6 col-sm-6">
                                  <nav>
                                      <ul class="list-unstyled">
                                          <li>
                                              <a href="#">Home</a>
                                          </li>
                                          <li>
                                              <a href="#">Listing</a>
                                          </li>
                                          <li>
                                              <a href="#">Pages</a>
                                          </li>
                                          <li>
                                              <a href="#">Extras</a>
                                          </li>
                                          <li>
                                              <a href="#">Contact</a>
                                          </li>
                                          <li>
                                              <a href="#">Submit Ad</a>
                                          </li>
                                      </ul>
                                  </nav>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                  <nav>
                                      <ul class="list-unstyled">
                                          <li>
                                              <a href="#">My Ads</a>
                                          </li>
                                          <li>
                                              <a href="#">Sign In</a>
                                          </li>
                                          <li>
                                              <a href="#">Register</a>
                                          </li>
                                      </ul>
                                  </nav>
                              </div>
                          </div>
                      </div>
                      <!--end col-md-3-->
                      <div class="col-md-4">
                          <h2>Contact</h2>
                          <address>
                              <figure>
                                  124 Abia Martin Drive<br>
                                  New York, NY 10011
                              </figure>
                              <br>
                              <strong>Email:</strong> <a href="#">hello@example.com</a>
                              <br>
                              <strong>Skype: </strong> Craigs
                              <br>
                              <br>
                              <a href="contact.html" class="btn btn-primary text-caps btn-framed">Contact Us</a>
                          </address>
                      </div>
                      <!--end col-md-4-->
                  </div>
                  <!--end row-->
              </div>
              <div class="background">
                  <div class="background-image original-size">
                      <img src="assets/img/footer-background-icons.jpg" alt="">
                  </div>
                  <!--end background-image-->
          </div>
        <!--end background-->
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!--end page-->