<div class="page home-page">
  <section class="content">
    {{> profile}}
    <section class="block">
      <div class="container">
        <h2>Your HOA</h2>
        <div id="your-hoa" class="items grid grid-xl-4-items grid-lg-4-items grid-md-2-items">
          <div class="item">
            <div class="wrapper">
              <div class="image">
                <h3>
                  <a href="/community" class="tag category">Community</a>
                  <a href="/postcommunity" class="title">Post to Community</a>
                </h3>
                <a href="/community" class="image-wrapper background-image">
                  <img src="assets/img/image-01.jpg" alt="">
                </a>
              </div>
              <div class="meta">
              </div>
              <div class="description">
                <p>Want to organize an event, class, or meetup?  Post it here!</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="wrapper">
              <div class="image">
                <h3>
                  <a href="/classifieds" class="tag category">Classifieds</a>
                  <a href="/postclassified" class="title">Post to Classifieds</a>
                </h3>
                  <a href="/classifieds" class="image-wrapper background-image">
                    <img src="assets/img/image-01.jpg" alt="">
                  </a>
              </div>
              <div class="meta">
              </div>
              <div class="description">
                <p>Have an item or service to sell?  Post it here!</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="wrapper">
              <div class="image">
                <h3>
                  <a href="/resources" class="tag category">Resource Share</a>
                  <a href="/postresource" class="title">Post to Resource Share</a>
                </h3>
                <a href="resources" class="image-wrapper background-image">
                  <img src="assets/img/image-01.jpg" alt="">
                </a>
              </div>
              <div class="meta">
              </div>
              <div class="description">
                <p>Have a skill or item that you want to offer, request, or barter for?  Post it here!</p>
              </div>
            </div>
          </div>
            <div class="item">
              <div class="wrapper">
                <div class="image">
                  <h3>
                    <a href="/contact" class="tag category">Contact</a>
                    <a href="/contact" class="title">Contact HOA</a>
                  </h3>
                  <a href="/contact" class="image-wrapper background-image">
                      <img src="assets/img/image-01.jpg" alt="">
                  </a>
                </div>
                <div class="meta">
                </div>
                <div class="description">
                  <p>View our HOA FAQ, and get in touch with us!</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="wrapper">
                <div class="image">
                  <h3>
                    <a href="/events" class="tag category">Event</a>
                    <a href="/postevent" class="title">Post an Event</a>
                  </h3>
                  <a href="/events" class="image-wrapper background-image">
                      <img src="assets/img/image-01.jpg" alt="">
                  </a>
                </div>
                <div class="meta">
                </div>
                <div class="description">
                  <p>Post an Event! The 'hood wants to party!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="background" data-background-color="#fff"></div>
      </section>

      <section class="block">
        <div class="container">
          <h2>Recent Posts</h2>
            <div class="items grid grid-xl-4-items grid-lg-3-items grid-md-2-items">
              <div class="item">
                <div class="wrapper">
                  <div class="image">
                    <h3>
                      <a href="#" class="tag category">Real Estate</a>
                      <a href="single-listing-1.html" class="title">Luxury Apartment</a>
                      <span class="tag">Offer</span>
                    </h3>
                    <a href="single-listing-1.html" class="image-wrapper background-image">
                      <img src="assets/img/image-04.jpg" alt="">
                    </a>
                  </div>
                  <h4 class="location">
                    <a href="#">Greeley, CO</a>
                  </h4>
                  <div class="price">$75,000</div>
                  <div class="meta">
                    <figure>
                      <i class="fa fa-calendar-o"></i>13.03.2017
                    </figure>
                    <figure>
                      <a href="#">
                        <i class="fa fa-user"></i>Hills Estate
                      </a>
                    </figure>
                  </div>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis lobortis</p>
                  </div>
                  <div class="additional-info">
                    <ul>
                      <li>
                        <figure>Area</figure>
                        <aside>368m<sup>2</sup></aside>
                      </li>
                      <li>
                        <figure>Bathrooms</figure>
                        <aside>2</aside>
                      </li>
                      <li>
                        <figure>Bedrooms</figure>
                        <aside>3</aside>
                      </li>
                      <li>
                        <figure>Garage</figure>
                        <aside>1</aside>
                      </li>
                    </ul>
                  </div>
                  <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
                </div>
              </div>
            </div>
          </div>
        </section>

      <section class="block">
        <div class="container">
          <div class="d-flex align-items-center justify-content-around">
          </div>
        </div>
      </section>

  </section>
