<div class="page home-page">

  <section class="content">

    <div class="hero hero-wrapper">
      <div class="page-title">
        <div class="container">
          <h1>Your Account</h1>
        </div>
        <!--end container-->
      </div>
    </div>


    {{> profile}}

    <section class="block">
      <div class="container">
        <div class="d-flex align-items-center justify-content-around">
        </div>
      </div>
    </section>

  </section>
