<div class="page classifieds-page">
  <section class="content">
    <section class="block">
      <div class="container">
        <div class="items list grid-xl-4-items grid-lg-3-items grid-md-2-items">

          <!-- All/total Classifieds -->
          {{> classified-landing-page-partials/total_classifieds}}

          <!-- Bike Classifieds -->
          {{> classified-landing-page-partials/bikes}}

          <!-- electronics Classifieds -->
          {{> classified-landing-page-partials/electronics}}

          <!-- appliances Classifieds -->
          {{> classified-landing-page-partials/appliances}}

          <!-- babyKid Classifieds -->
          {{> classified-landing-page-partials/baby_kid}}

          <!-- clothes Classifieds -->
          {{> classified-landing-page-partials/clothes}}
          <!-- furniture Classifieds -->

          <!-- lawn Classifieds -->

          <!-- music Classifieds -->

          <!-- sports Classifieds -->

          <!-- tickets Classifieds -->

          <!-- autos Classifieds -->
        </div>
      </div>
    </section>
  </section>
</div>
