<div class="page sub-page">
    <section class="content">
        <section class="block" >
            <div class="container">
                <div id="calendar"></div>
            </div>
        </section>
        <section class="block">
            <div class="container">
                <!--============ Section Title===================================================================-->
                {{#if hbsObject.signedIn}}
                    {{>compact_sideBar_list_events}}
                {{else}}
                    {{>full_width_list_events}}
                {{/if}}

            </div>
        </section>
    </section>
</div>
