<div class="page sub-page faq-page">

  <section class="hero">
    <div class="hero-wrapper">
      <div class="page-title">
        <div class="container">
          <h1>Frequently Asked Questions</h1>
        </div>
        <!--end container-->
      </div>
    </div>
    <!--============ End Page Title =====================================================================-->
    <div class="background"></div>
    <!--end background-->

    <!--end hero-wrapper-->
  </section>


  <section class="content">
    <section class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-9">


            <section>
              {{#each hbsObject.faqs}} {{#each this.questions}}
              <div class="answer">
                <div class="box">
                  <h3>{{this.question}}</h3>
                  <p>{{this.answer}}
                  </p>
                </div>
              </div>
              {{/each}} {{/each}}
            </section>

          </div>
        </div>
      </div>
    </section>
  </section>
</div>