
<div class="page home-page">
  <!--*********************************************************************************************************-->
  <!--************ CONTENT ************************************************************************************-->
  <section class="content">
    {{> classifieds_homepage}}
    <!--============ Featured Ads ===========================================================================-->
    {{> upcoming_events_carousel}}
    <!--============ End Featured Ads =======================================================================-->
    <!--============ Features Steps =========================================================================-->
    <section class="block has-dark-background">
      <div class="container">
        <div class="block">
          <h2>Selling With Us Is Easy</h2>
          <div class="row">
            <div class="col-md-3">
              <div class="feature-box">
                <figure>
                  <img src="assets/icons/feature-user.png" alt="">
                  <span>1</span>
                </figure>
                <h3>Create an Account</h3>
                <p>Etiam molestie viverra dui vitae mattis. Ut velit est</p>
              </div>
              <!--end feature-box-->
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="feature-box">
                <figure>
                  <img src="assets/icons/feature-upload.png" alt="">
                  <span>2</span>
                </figure>
                <h3>Submit Your Ad</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <!--end feature-box-->
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="feature-box">
                <figure>
                  <img src="assets/icons/feature-like.png" alt="">
                  <span>3</span>
                </figure>
                <h3>Make a Deal</h3>
                <p>Nunc ultrices eu urna quis cursus. Sed viverra ullamcorper</p>
              </div>
              <!--end feature-box-->
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="feature-box">
                <figure>
                  <img src="assets/icons/feature-wallet.png" alt="">
                  <span>4</span>
                </figure>
                <h3>Enjoy the Money!</h3>
                <p>Integer nisl ipsum, sodales sed scelerisque nec, aliquet sit</p>
              </div>
              <!--end feature-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end block-->
      </div>
      <!--end container-->
      <div class="background" data-background-color="#2b2b2b"></div>
      <!--end background-->
    </section>

    {{> latest_classifieds_carousel}}

    <section class="block">
      <div class="container">
        <div class="box has-dark-background">
          <div class="row align-items-center justify-content-center d-flex">
            <div class="col-md-10 py-5">
              <h2>Get the Latest Ads in Your Inbox</h2>
              <form class="form email">
                <div class="form-row">
                  <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                      <label for="newsletter-category" class="col-form-label">Category?</label>
                      <select name="newsletter-category" id="newsletter-category" data-placeholder="Select Category">
                        <option value="">Select Category</option>
                        <option value="1">Computers</option>
                        <option value="2">Real Estate</option>
                        <option value="3">Cars & Motorcycles</option>
                        <option value="4">Furniture</option>
                        <option value="5">Pets & Animals</option>
                      </select>
                    </div>
                    <!--end form-group-->
                  </div>
                  <!--end col-md-4-->
                  <div class="col-md-7 col-sm-7">
                    <div class="form-group">
                      <label for="newsletter-email" class="col-form-label">Your Email</label>
                      <input name="newsletter-email" type="email" class="form-control" id="newsletter-email" placeholder="Your Email">
                    </div>
                    <!--end form-group-->
                  </div>
                  <!--end col-md-9-->
                  <div class="col-md-1 col-sm-1">
                    <div class="form-group">
                      <label class="invisible">.</label>
                      <button type="submit" class="btn btn-primary width-100"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <!--end form-group-->
                  </div>
                  <!--end col-md-9-->
                </div>
              </form>
              <!--end form-->
            </div>
          </div>
          <div class="background">
            <div class="background-image">
              <img src="assets/img/hero-background-image-01.jpg" alt="">
            </div>
            <!--end background-image-->
          </div>
          <!--end background-->
        </div>
        <!--end box-->
      </div>
      <!--end container-->
    </section>
    <!--end block-->
    <section class="block">
      <div class="container">
        <div class="d-flex align-items-center justify-content-around">
          <a href="#">
            <img src="assets/img/partner-1.png" alt="">
          </a>
          <a href="#">
            <img src="assets/img/partner-2.png" alt="">
          </a>
          <a href="#">
            <img src="assets/img/partner-3.png" alt="">
          </a>
          <a href="#">
            <img src="assets/img/partner-4.png" alt="">
          </a>
          <a href="#">
            <img src="assets/img/partner-5.png" alt="">
          </a>
        </div>
      </div>
    </section>
  </section>
  <!--end content-->
  <!--*********************************************************************************************************-->
  <!--************ FOOTER *************************************************************************************-->
  <!--*********************************************************************************************************-->
  <footer class="footer">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <a href="#" class="brand">
              <img src="assets/img/logo.png" alt="">
            </a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
            </p>
          </div>
          <!--end col-md-5-->
          <div class="col-md-3">
            <h2>Navigation</h2>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <nav>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#">Home</a>
                    </li>
                    <li>
                      <a href="#">Listing</a>
                    </li>
                    <li>
                      <a href="#">Pages</a>
                    </li>
                    <li>
                      <a href="#">Extras</a>
                    </li>
                    <li>
                      <a href="#">Contact</a>
                    </li>
                    <li>
                      <a href="#">Submit Ad</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-md-6 col-sm-6">
                <nav>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#">My Ads</a>
                    </li>
                    <li>
                      <a href="#">Sign In</a>
                    </li>
                    <li>
                      <a href="#">Register</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!--end col-md-3-->
          <div class="col-md-4">
            <h2>Contact</h2>
            <address>
              <figure>
                124 Abia Martin Drive
                <br> New York, NY 10011
              </figure>
              <br>
              <strong>Email:</strong> <a href="#">hello@example.com</a>
              <br>
              <strong>Skype: </strong> Craigs
              <br>
              <br>
              <a href="contact.html" class="btn btn-primary text-caps btn-framed">Contact Us</a>
            </address>
          </div>
          <!--end col-md-4-->
        </div>
        <!--end row-->
      </div>
      <div class="background">
        <div class="background-image original-size">
          <img src="assets/img/footer-background-icons.jpg" alt="">
        </div>
        <!--end background-image-->
      </div>
      <!--end background-->
    </div>
    </>
    <!--end footer-->
</div>
